.react-date-picker__wrapper {
  border-radius: 5px;
  padding: 2px;
}

/* .react-date-picker__inputGroup__input{
 width: 33px !important;
} */

/* .react-date-picker__inputGroup__day{
    width: 9px !important;
    
}
.react-date-picker__clear-button {
    display: none;
} */
